@media screen and (max-width: 600px) {
    body {
        margin-top: 20px;
    }
    .container {
        width: 80%;
    }
    .container .links a {
        width: 230px;
    }

    .container h1 {
        margin: 10px;
    }
}