@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 200px;
}

.inputs {
    margin-top: 20px;
}

.inputs input {
    height: 25px;
    border-radius: 5px;
    padding: 10px;
}

.list-products {
    list-style: none;
    margin-top: 30px;
}

.product-attributes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: green;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    i {
        cursor: pointer;
    }
    p {
        flex: 1;
    }
}

