@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');


* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/5805548.jpg);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

strong {
    color: #aa619a;
}

h1 {
    position: relative;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(241, 233, 233);
    font-size: 2.25rem;
}

h1::after {
    position: absolute;
    content: '';
    background: #44a8e2;
    width: 8rem;
    height: 3px;
    bottom: 1;
    left: 0;
    border-radius: 3px;
}

h1::before {
    position: absolute;
    content: '';
    background: #f85cd6;
    width: 8rem;
    height: 3px;
    bottom: 0;
    left: 250px;
    border-radius: 3px;
}

h2 {
    color: #c7c7d4;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

section {
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.479);
    background-color: #2f3436;
    margin-top: 200px;
    height: 400px;
}

.button-masculino {
    height: 50px;
    width: 80px;
    font-size: 15px;
    font-weight: bolder;
    padding: 1px;
    background-color: #558BA0;
    
}


.button-masculino:hover {
    border-radius: 10px;
    background-color: #61a5aa;
    transition: 0.5s ease-in-out;
}




.button-feminino {
    height: 50px;
    width: 80px;
    font-size: 15px;
    font-weight: bolder;
    padding: 1px;
    background-color: #aa619a;
    
}


.button-feminino:hover {
    border-radius: 10px;
    background-color: #ff68de;
    transition: .5s ease-in-out;
    
}

.mae {
    color: #f85cd6;
    
}

.pai {
    color: #44a8e2;
    
}

strong {
    color: red;
}

p {
    font-weight: bolder;
    font-size: larger;
    color: #c7c7d4;
    margin-top: 10px;
    margin-bottom: 30px;
}

.sessao-resultado {
    margin-top: 30px;
    height: 50px;
}

#ruler {
    margin-right: 5px;
    font-size: 1.5rem;
    width: fit-content;
}



#maetxt::-webkit-inner-spin-button,
#maetxt::-webkit-outer-spin-button {

    appearance: none;
}

#paitxt::-webkit-inner-spin-button,
#paitxt::-webkit-outer-spin-button {

    appearance: none;
}

#maetxt, #paitxt {
    background-color: #424444;
    height: 1.5rem;
    outline: none;
    font-size: 1rem;
    padding-left: 5px;
    color: #c7c7d4;
    font-weight: 700;
    text-align: center;
    margin: auto;
    width: 100%;
    
}
#input {
    display: flex;
    background-color: #424444;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
    width: 25rem;
    
}

span {
    color: #c7c7d4;
    font-weight: bold;
    padding-left: 5px;
}

#buttons {
    display: flex;
    gap: 20px;
    margin: auto;
    width: fit-content;
}
#gender {
    margin-top: 10px;
    text-align: center;

}

@media screen and (max-width: 600px) {
    
    body {
        background-image: none;
        background-color: #2f3436;
    }
    section {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
        
    
}